<div class="container">

  <!-- HERO -->
  <div class="hero" style="position: relative;">

  <img 
    src="/assets/login2.jpg" 
    alt=""
    style="width: 100%; height: 450px; object-fit: cover; border-radius: 20px;"
  />

  <div 
    class="overlay"
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      width: 100%;
    "
  >

    <h1 style="font-size: 60px; margin-bottom: 15px;">
      Luxury Hotel Experience
    </h1>

    <p style="font-size: 28px;">
      Book your perfect stay
    </p>

  </div>

</div>

  <!-- TITLE -->
  <h1 class="title">Rooms</h1>
  <h3 class="title">Your Role: {{ role }}</h3>

  <!-- FILTER -->
  <div class="filter">
    <select [(ngModel)]="filterType">
      <option value="ALL">All Rooms</option>
      <option value="DELUXE">DELUXE</option>
      <option value="STANDARD">STANDARD</option>
      <option value="SUITE">SUITE</option>
    </select>
  </div>

  <!-- ADD ROOM -->
  <div class="add-room" *ngIf="role === 'OWNER' || role === 'MANAGER'">

    <select [(ngModel)]="newRoom.type">
      <option value="">Select Type</option>
      <option value="DELUXE">DELUXE</option>
      <option value="STANDARD">STANDARD</option>
      <option value="SUITE">SUITE</option>
    </select>

    <input 
      [(ngModel)]="newRoom.price" 
      type="number" 
      placeholder="Price"
    />

    <button 
      (click)="addRoom()"
      [disabled]="!newRoom.type || newRoom.price <= 0 || isSubmitting">
      Add Room
    </button>

  </div>

  <!-- EMPTY -->
  <p *ngIf="filteredRooms.length === 0" class="title">
    No rooms found
  </p>

  <!-- ROOM GRID -->
  <div class="room-grid">
    <div class="room-card" *ngFor="let room of filteredRooms">

      <!-- ROOM IMAGE -->
    

      <h3>{{ room.type }}</h3>
      <p class="price">₹{{ room.price }}</p>

      <span 
        class="status" 
        [ngClass]="room.available ? 'available' : 'booked'">
        {{ room.available ? 'Available' : 'Booked' }}
      </span>

      <div class="actions">

        <button 
          class="book-btn"
          (click)="goToBooking(room)" 
          [disabled]="!room.available">
          Book
        </button>

        <button 
          *ngIf="role === 'OWNER' && room.available"
          class="delete"
          (click)="deleteRoom(room.id, room)">
          Delete
        </button>

      </div>

    </div>
  </div>

</div>